
        				<li class="in">
        					<div class="chat-body">
        						<div class="chat-message">
        							<h5><%= message.user.email %></h5>
        							<p><%= message.body %></p>
                      <span class="badge text-black">
                        <%= link_to like_message_path(message.id), data: { "turbo-method": :post } do %>
                          <%= render partial: "messages/heart", locals: {user: user, message: message } %>
                          <%= render partial: "messages/likes_count", locals: { message: message } %>
                        <% end %>
                      </span>
        						</div>
        					</div>
        				</li>
        
        				