<%= turbo_stream_from @room %>
<%= turbo_stream_from [current_user, @room] %>

<ul class="list-group" id="room_<%= @room.id %>_messages">  
    <%= turbo_frame_tag :messages do %>
    <div class="container content">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        	<div class="card">
        		<div class="card-header"><%= @room.title %></div>
        		<div class="card-body height3">
        			<ul class="chat-list">
                        <%= render partial: "messages/message", collection: @messages, locals: { user: current_user } %>
                    </ul>
        		</div>
        	</div>
        </div>
    <% end %>   
</ul>

<%= form_with model: @new_message, data: { controller: "chat_refresh", action: "turbo:submit-end->chat_refresh#clearInput" } do |f| %>
    <div class="form-floating col-sm-4 mb-3 mt-3">
      <%= f.text_field :body, class: "form-control", id: "floatingInput", placeholder: "New Message" %>
      <%= f.label :body, for: "floatingInput" %>
      <%= f.hidden_field :room_id, value: @room.id %>
    </div>
    <%= f.submit "New Message", class: "btn btn-primary btn-lg"%>
<% end %>